.question-answer{
    display: block;
    padding: 20px 10px;
    color: #f8f9fa!important;
}

.question-answer span{
    display: block;
    padding-bottom: 20px;
    font-size: 30px;
    font-style: bold, italic;
}